// _base.scss: global styles

:root {
    --primary-color: #3b6c9b;
    --primary-color-hover: #1d5183;
    --secondary-color: #d3d3d3;
    --secondary-color-hover: #f3f3f3;
    --bg-color: #f7f7f7;
    --highlight-bg-color: #e2e2e2;
    --font-color: #181818;
    --highlight-font-color: #350e0e;
    --font-family: 'Segoe UI', 'Meiryo', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: #3b6c9b;
        --primary-color-hover: #275077;
        --secondary-color: #5e5e5e;
        --secondary-color-hover: #3a3a3a;
        --bg-color: #202020;
        --highlight-bg-color: #181818;
        --font-color: #f7f7f7;
        --highlight-font-color: #792020;
    }
}

* {
    margin: .25em;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: .5em;
}

code {
    background-color: var(--highlight-bg-color);
    padding: .4em;
    border-radius: 0.25em;
    user-select: text;
}