// _base.scss: global styles

:root {
    --bg-color: #f7f7f7;
    --highlight-bg-color: #e2e2e2;
    --font-color: #181818;
    --highlight-font-color: #832019;
    --font-family: 'Segoe UI', 'Meiryo', sans-serif;
    --shadow-color: rgba(80, 80, 80, 0.3);
    --primary-color: #3b6c9b;
    --primary-color-hover: color-mix(in srgb, #3b6c9b, #f7f7f7 30%);
    --primary-color-active: color-mix(in srgb, #3b6c9b, #f7f7f7 40%);
    --primary-color-clarity: color-mix(in srgb, #3b6c9b, #181818 30%);
    --secondary-color: #d3d3d3;
    --secondary-color-hover: color-mix(in srgb, #d3d3d3, #f7f7f7 30%);
    --secondary-color-active: color-mix(in srgb, #d3d3d3, #f7f7f7 40%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #202020;
        --highlight-bg-color: #181818;
        --font-color: #f7f7f7;
        --highlight-font-color: #bb3e35;
        --shadow-color: rgba(0, 0, 0, 0.4);
        --primary-color: #3b6c9b;
        --primary-color-hover: color-mix(in srgb, #3b6c9b, #202020 30%);
        --primary-color-active: color-mix(in srgb, #3b6c9b, #202020 40%);
        --primary-color-clarity: color-mix(in srgb, #3b6c9b, #f7f7f7 30%);
        --secondary-color: #5e5e5e;
        --secondary-color-hover: color-mix(in srgb, #5e5e5e, #202020 30%);
        --secondary-color-active: color-mix(in srgb, #5e5e5e, #202020 40%);
    }
}

* {
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
    user-select: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 1em;
}

code {
    background-color: var(--highlight-bg-color);
    padding: .4em;
    border-radius: 0.25em;
    user-select: text;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: inherit;
    display: inline-block;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

h1 {
    font-weight: bold;
    margin: .5em 0 .3em;
    padding: 0;
    font-size: 1.6rem;
    max-width: 100%;
}

h2 {
    font-weight: bold;
    margin: .3em 0 .2em;
    padding: 0;
    font-size: 1.2rem;
    max-width: 100%;
}

p {
    margin: .15em 0;
}

.first {
    margin-top: 0;
}

.scrollable {
    max-height: 100%;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 7px;
}

.scrollable::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 3px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
    background-color: $secondary-color-hover;
}

.scrollable::-webkit-scrollbar-thumb:active {
    background-color: $secondary-color-active;
}