// _variables.scss: scss variables for colors
$bg-color: var(--bg-color);
$highlight-bg-color: var(--highlight-bg-color);
$font-color: var(--font-color);
$err-color: var(--err-color);
$ok-color: var(--ok-color);
$shadow-color: var(--shadow-color);
$primary-color: var(--primary-color);
$primary-color-hover: var(--primary-color-hover);
$primary-color-active: var(--primary-color-active);
$primary-color-clarity: var(--primary-color-clarity);
$secondary-color: var(--secondary-color);
$secondary-color-hover: var(--secondary-color-hover);
$secondary-color-active: var(--secondary-color-active);