// _variables.scss: scss variables for colors

$primary-color: var(--primary-color);
$primary-color-hover: var(--primary-color-hover);
$secondary-color: var(--secondary-color);
$secondary-color-hover: var(--secondary-color-hover);
$bg-color: var(--bg-color);
$highlight-bg-color: var(--highlight-bg-color);
$font-color: var(--font-color);
$highlight-font-color: var(--highlight-font-color);