// --------------------------------------------------------------------------------------------------
// インストーラ風の画面配置
// --------------------------------------------------------------------------------------------------
// 親
div#main {
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-areas: "main-pane" "btn-pane";
    min-height: 100%;
    margin: 0;
    padding: 0;
}

// メイン
div.main-pane {
    grid-area: main-pane;
    width: 100%;
}

// 下部(ボタンエリア)
div.btn-pane {
    grid-area: btn-pane;
    display: flex;
    justify-content: end;
    width: 100%;
}